body {
    background-color: rgb(51, 87, 135);
}

.app {
    color: rgb(144, 188, 108);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}